$black-color: #2d2d2d;
$dark-blue-color: #191d3a;
$primary-color: #2d2d2d;

$secondary-color: #bf1650;

// primary: {
// 	light: '#ec5990',
// 	main: '#bf1650',
// 	dark: '#ff7aa8',
//   },

.bg-darkblue{
	background-color: $dark-blue-color;
}
